@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* ซ่อนสามเหลี่ยมของ Dropdown */
.no-arrow:after {
  display: none;
  background:none;
}
.no-arrow:active{
  /* display: none; */
  background:none;
}

.no-arrow:hover{
  color:#000;
  background:none;
}
.no-arrow:action{
  color:#000;
  background:none;
}


.no-arrow.dropdown-toggle.btn.btn-primary {
 background:none;
 color:#000;
 border:none;
 margin-right:0;
 margin-top:10px;
 padding:0;
}

/* ปรับขนาดของเมนู dropdown เมื่อมันแสดง */
.dwMenu{
  display: flex;
  justify-content: start !important;
}


/* ปรับตำแหน่งของ .dropdown-item ให้อยู่ตรงกลาง */
.dropdown-item {
  display: flex;  
  
               /* ใช้ flexbox เพื่อจัดตำแหน่ง */
  justify-content: center;     /* จัดเนื้อหากลางตามแนวนอน */
  align-items: center;         /* จัดเนื้อหากลางตามแนวตั้ง */
  width: 100%;                 /* ให้เต็มความกว้าง */
  padding: 0;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: center;          /* จัดข้อความตรงกลาง */
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
  z-Index:10px;
}
.dwMenu{
  display:flex;
  /* display: flex; */
  justify-content: end !important;
}

.btEdit{
  color:  rgb(0, 0, 0);
  background: rgb(247, 243, 255);
  margin:6px 4px;
  padding:5px 8px;
  border-radius:5px;
 box-shadow: rgba(0, 0, 0, 0.1) 0.5px 1px 1px 1px;
}
.btDelete{
  color:  rgb(50, 50, 50);
  background: rgb(247, 243, 255);
  margin:6px 4px;
  padding:5px 8px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0.5px 1px 1px 1px;
}
.btEdit:hover{
  background: rgb(226, 222, 232);

}

.btDelete:hover{
  background: rgb(226, 222, 232);
  }
  .btEdit.dropdown-item, .btDelete.dropdown-item{
    padding:5px;
      }

  
    
    .scroll.flex-grow.padding-lr div {
     
    }
    
:root {
  --padding: 10px;
  --sidebar-width: 250px;
}


      
section#root.flex.flex-column{
  width: 300px !important;
}
.scroll.flex-grow.padding-lr div{
  width: 270px !important;
}

.Frame div {
    margin-top: 10px;
}
h1 {
    color: #000;
    /* font-size: 22px; */
}

.title-h1 {
    margin: 20px 0 10px 20px !important;
    font-size:1.8rem;
  }

.title {
    margin: 10px 0 20px 20px;
    font-size:1.2rem;
}
h3 {
    text-align: start;
    /* margin-top: 10px; */
    margin:10px 0 5px 0;
    color:#000;
    white-space: nowrap;        /* บังคับให้ข้อความอยู่ในบรรทัดเดียว */
  overflow: hidden;           /* ซ่อนข้อความที่เกินขอบ */
  text-overflow: ellipsis; 
}
.description {
    margin: 0 0;
}
LazyLoadImage {
    border-radius: 5px;
    /* border: 1px solid #6e6e6e; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
}
LazyLoadImage:hover {
    transform: scale(1.1); /* ขยายขนาดรูปภาพ */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* เพิ่มเงา */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* เพิ่มความลื่นไหลในการแสดงผล */
}

textarea{
    color: rgba(108,117,125,1)
}
.Ani_name {
    /* color:#000; */
    flex-grow: 1 !important;
    /* font-size: 1rem; */
    /* margin-top: 8px; */
    /* display: flex; */
    justify-content: start !important;
    
    /* text-align:start;/ */
}
.lebel-bio{
    font-size: 1.02rem;
    color:#000;
    font-weight:400;
    margin-bottom:7px;
}
.choose-file{
    font-size:0.8rem;
}
/* button, input, optgroup, select, textarea{
    0
} */
/* .Play-video {
    flex-basis: 69%;
    margin-left: 2%;
    margin-top: 3%;
} */
.vdo-first {
    border-radius: 20px;
}

.played {
    display: flex;
    flex-basis: 65%;
    margin-left: 2%;
    margin-top: 3%;
}

.video-item video {
    width: 100%;
    border-radius: 10px;
}

.video-info {
    margin-top: 10px;
}

.list {
    flex-basis: 25%;
    margin-left: 2%; /* เพิ่มการจัดระยะห่างซ้ายของ .list */
}

.video-thumbnail img {
    width: 100%; /* ทำให้รูปภาพเต็มขนาดของพื้นที่ที่กำหนด */
    border-radius: 10px;
}

.video-list {
    width: 100%;

}

video {
    margin-top:10px;
    margin-bottom:25px;
    width: 75%;
    /* height: 100%; */
    border-radius: 5px;
    /* margin: 0 30px; */
    
}

.AnimationName {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    /* padding-bottom: 10px; */
}

#animationVideo{
  width:85%;
}
.viewvdo {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ani_descrip{
    font-size: 1rem;
    text-indent: 50px;
    text-align: justify;
    margin:5px 20px 20px 20px;
    color:#000;
    white-space: pre-wrap; /* รองรับ \n และช่องว่าง */
  word-wrap: break-word;
  white-space: pre-line;
    /* width: 50vw; */
    /* hyphens: auto; */
    
  }

  .ViewAnimation{
    display: grid;
    grid-template-columns: auto ;
    
  }
/* 
.button-add {
    font-size: 50px !important;
    
} */
.add-button{
    color: rgb(255, 255, 255);
  background-color: rgb(145, 54, 205);
  /* border-color: rgb(9, 162, 22); */
  padding: 7px 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
  border: none;
}
.cancel-button{
    color: #000;
    background-color: #dbdbdb;
    /* border-color: #dbdbdb; */
    padding: 7px 15px;
    margin-top: 20px;
    border-radius: 5px;
    margin-right:20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
    border: none;
}

.viewAnimation {
    display: grid;
  grid-template-columns: auto auto auto;
  
}

.animationid .img_ani{
  display:block;
  margin:auto;
  /* margin-to */
  /* left:0;
  right:0; */
    border-radius: 0 !important; 
    cursor: pointer;
      height: 150px !important;
      /* max-width: 250px !important; */
      width: 100% !important;

   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.075);
   
}

.animationid .img_ani:hover {
    /* transform:scale(1.02); */
    /* z-index: 2; */
    /* box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.05); */
    /* transform: scale(1.05); */
}

.d-flex.justify-content-center.my-5{
  margin-top: 50px !important;
}
.animationid{
  margin-bottom:30px;
}
.ani {
  max-width: 100%;  /* ป้องกันขยายเกินขนาด Col */
  margin: auto; /* จัดให้อยู่กึ่งกลาง */
  padding: 8px;
  box-shadow: 0 0 10px 3px rgba(203, 203, 203, 0.33) !important;
  /* border-radius: 10px; */
  transition: transform 0.3s ease;
  background: white;
  /* border-radius: 7px;  */

}
.ani:hover {
  transform: scale(1.075);
}

.upload-status {
    font-weight: bold;
  }
  
.nameandbt{
  display: flex;
  /* justify-content: start !important; */
  font-weight:500 !important;
/* padding-top:3px; */
  margin:10px 2px 0 2px;
    justify-content: space-around;
}

/* .nameandbt{
  display: flex;
  justify-content: center;
  font-weight:500 !important;
} */

.bt{
  float:right !important;
  align-items: end !important;
background:none !important;
color: #000;
}
.bt:hover{
  float:right !important;
  align-items: end !important;
background:none !important;
color: #000;
}

.button-remove-ani{
  justify-items: center;
  /* justify-content: center; */
  height:25px;
  width:35px;
  color:rgb(255, 255, 255);
  /* border:2px solid #ff4040 !important; */
  /* border:none !important; */
background:rgb(250, 9, 9) !important;
margin:0 !important;
font-size:12px !important;
padding:3px !important;
/* transition: transform 0.2s ease; */
border-radius:5px;

}

.button-remove-ani:hover{
  color:rgb(255, 255, 255);
  background:rgb(226, 0, 0)!important;
  /* transform: scale(1.1); */
  /* border:2px solid #ff4040 !important; */
  /* background: #ff4040 !important; */
}

.button-edit-ani{
  justify-items: center;
  /* border */
  height:25px;
  width:35px;
  color:rgb(255, 255, 255);
  /* border:2px solidrgb(41, 41, 41) !important; */
  background-color: rgba(19, 19, 19, 0.8)!important;  
  margin:0 !important;
  font-size:12px !important;
  padding:3px !important;
  /* transition: transform 0.2s ease; */
  border-radius:5px;
}
.button-edit-ani:hover{
  /* color:rgb(255, 255, 255); */
  /* transform: scale(1.1); */
  background:rgba(0, 0, 0, 0.8) !important; 
  /* background: #ffb819 !important;  */
}


.text-manage{
  white-space: pre-wrap; /* รองรับ \n และช่องว่าง */
  word-wrap: break-word;
}