@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.Frame div {
    margin-top: 10px;
}
h1 {
    color: #000;
    /* font-size: 22px; */
}

.title-h1 {
    margin: 20px 0 10px 20px !important;
    font-size:1.8rem;
  }

.title {
    margin: 10px 0 20px 20px;
    font-size:1.2rem;
}
h3 {
    text-align: start;
    /* margin-top: 10px; */
    margin:10px 0 5px 0;
    color:#000;
    white-space: nowrap;        /* บังคับให้ข้อความอยู่ในบรรทัดเดียว */
  overflow: hidden;           /* ซ่อนข้อความที่เกินขอบ */
  text-overflow: ellipsis; 
}
.description {
    margin: 0 0;
}
LazyLoadImage {
    border-radius: 5px;
    /* border: 1px solid #6e6e6e; */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
}
LazyLoadImage:hover {
    transform: scale(1.1); /* ขยายขนาดรูปภาพ */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* เพิ่มเงา */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* เพิ่มความลื่นไหลในการแสดงผล */
}

textarea{
    color: rgba(108,117,125,1)
}
h3 .Ani_name {
    /* color:#000; */
    font-size: 1rem;
    /* margin-top: 8px; */
   
    
    /* text-align:start;/ */
}
.lebel-bio{
    font-size: 1.05rem;
    color:#000;
    font-weight:450;
}
.choose-file{
    font-size:0.8rem;
}
/* button, input, optgroup, select, textarea{
    0
} */
/* .Play-video {
    flex-basis: 69%;
    margin-left: 2%;
    margin-top: 3%;
} */
.vdo-first {
    border-radius: 20px;
}

.played {
    display: flex;
    flex-basis: 65%;
    margin-left: 2%;
    margin-top: 3%;
}

.video-item video {
    width: 100%;
    border-radius: 10px;
}

.video-info {
    margin-top: 10px;
}

.list {
    flex-basis: 25%;
    margin-left: 2%; /* เพิ่มการจัดระยะห่างซ้ายของ .list */
}

.video-thumbnail img {
    width: 100%; /* ทำให้รูปภาพเต็มขนาดของพื้นที่ที่กำหนด */
    border-radius: 10px;
}

.video-list {
    width: 100%;

}

video {
    margin-top:10px;
    margin-bottom:25px;
    width: 75%;
    /* height: 100%; */
    border-radius: 5px;
    /* margin: 0 30px; */
    
}

.AnimationName {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    /* padding-bottom: 10px; */
}

#animationVideo{
  width:85%;
}
.viewvdo {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ani_descrip{
    font-size: 1rem;
    text-indent: 50px;
    text-align: justify;
    margin:5px 20px 20px 20px;
    color:#000;
    /* width: 50vw; */
    /* hyphens: auto; */
    
  }

  .ViewAnimation{
    display: grid;
    grid-template-columns: auto ;
    
  }
/* 
.button-add {
    font-size: 50px !important;
    
} */
.add-button{
    color: rgb(255, 255, 255);
  background-color: rgb(9, 162, 22);
  /* border-color: rgb(9, 162, 22); */
  padding: 7px 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
  border: none;
}
.cancel-button{
    color: #000;
    background-color: #dbdbdb;
    /* border-color: #dbdbdb; */
    padding: 7px 15px;
    margin-top: 20px;
    border-radius: 8px;
    margin-right:20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
    border: none;
}

.viewAnimation {
    display: grid;
  grid-template-columns: auto auto auto;
  
}

.animationid .img_ani{
  display:block;
    border-radius: 0 !important; 
    cursor: pointer;
      height: 140px !important;
      /* max-width: 250px !important; */
      width: 100% !important;

   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.075);
   
}

.animationid .img_ani:hover {
    /* transform:scale(1.02); */
    /* z-index: 2; */
    /* box-shadow: 0 0 12px 10px rgba(0, 0, 0, 0.05); */
    /* transform: scale(1.05); */
}
.animationid{
  margin-bottom:30px;
}
.ani {
  width: 100%;  /* ป้องกันขยายเกินขนาด Col */
  margin: auto; /* จัดให้อยู่กึ่งกลาง */
  padding-bottom: 15px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.075);
  /* border-radius: 10px; */
  transition: transform 0.3s ease;
  background: white;
}
.ani:hover {
  transform: scale(1.075);
}
/* @media (min-width: 1024px) {
  .ani {
    width: calc(100% / 3 - 20px); /* แบ่ง 3 คอลัมน์ */
    /* margin: auto; 
  }
} */ 

.upload-status {
    font-weight: bold;
  }
  
  /* .uploading {
    color: yellow;
  }
  
  .completed {
    color: green;
  }
   */
   .row{
 margin: 20px;
   }

.nameandbt{
  display: flex;
  justify-content: space-between;
  margin:0 10px 0 10px;
}

.bt{
  float:right;
  align-items: end;

}

.button-remove-ani{
  justify-items: center;
  /* justify-content: center; */
  height:25px;
  width:35px;
  color:rgb(255, 255, 255);
  /* border:2px solid #ff4040 !important; */
  /* border:none !important; */
background:rgb(250, 9, 9) !important;
margin:0 !important;
font-size:12px !important;
padding:3px !important;
/* transition: transform 0.2s ease; */
border-radius:5px;
}

.button-remove-ani:hover{
  color:rgb(255, 255, 255);
  background:rgb(226, 0, 0)!important;
  /* transform: scale(1.1); */
  /* border:2px solid #ff4040 !important; */
  /* background: #ff4040 !important; */
}

.button-edit-ani{
  justify-items: center;
  /* border */
  height:25px;
  width:35px;
  color:rgb(255, 255, 255);
  /* border:2px solidrgb(41, 41, 41) !important; */
  background-color: rgba(19, 19, 19, 0.8)!important;  
  margin:0 !important;
  font-size:12px !important;
  padding:3px !important;
  /* transition: transform 0.2s ease; */
  border-radius:5px;
}
.button-edit-ani:hover{
  /* color:rgb(255, 255, 255); */
  /* transform: scale(1.1); */
  background:rgba(0, 0, 0, 0.8) !important; 
  /* background: #ffb819 !important;  */
}

