/* Hide ChatBox on mobile and only show UserChat */
@media (max-width: 767px) {
    .chat-box {
        width: 100%;
    }
    .messages-box1 {
        display: none;
    }
    .align-items-start{
        max-width: 80% !important;
    }
    .messages.vstack.gap-3{
        font-size: 13px;
    }
   
    
    
}
@media (max-width: 830px) {
    em-emoji-picker {
        max-width: 352px !important; /* ลดความกว้างของป็อปอัป */
        max-height: 300px !important; /* ลดความสูงของป็อปอัป */
    }
    .react-emoji-picker--wrapper{
        left:0px;
        bottom:-135px !important;
    }
    
}

@media (min-width: 640px)  and (max-width: 767px) {
    em-emoji-picker {
        max-width: 352px !important; /* ลดความกว้างของป็อปอัป */
        max-height: 300px !important; /* ลดความสูงของป็อปอัป */
    }
    .react-emoji-picker--wrapper{
        left:0;
        bottom:-135px !important;
    }
  }

  @media (max-width: 578px) {
    .react-emoji-picker--wrapper em-emoji-picker {  em-emoji-picker {
        max-width: 352px !important; /* ลดความกว้างของป็อปอัป */
        max-height: 300px !important; /* ลดความสูงของป็อปอัป */
    }
    .react-emoji-picker--wrapper{
        left:0;
        bottom:-135px !important;
    }
  }        /* left:0; */
        /* bottom:-135px !important; */

        /* width: 100% !important;
        height: 100% !important;
        max-width: 250px !important;
        max-height: 220px !important;
        overflow:auto !important;
        overflow-x: auto !important;
        overflow-y: auto !important; */
    /* } */
    .flex.flex-center.flex-middle {
        width:25px !important;
        height:25px !important;
    }
    
    .flex.flex-column{

    }
    section#root.flex.flex-column{
width:152px !important;
    }
    .scroll.flex-grow.padding-lr div{
        width:152px !important;

    }
  }
  
/* Display ChatBox when UserChat is clicked */
@media (min-width: 768px) {
    .messages-box + .chat-box {
        display: block;
    }
}
