.sidebar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f3f4f6; /* เทียบกับ bg-gray-100 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 16rem; /* เทียบกับ w-64 */
    z-index: 40;
}

.sidebar-mobile.sidebar-open {
    transform: translateX(0);
}

.sidebar-mobile.sidebar-closed {
    transform: translateX(-100%);
}

.sidebar-desktop {
    display: none;
}

@media (min-width: 768px) {
    .sidebar-desktop {
        display: block;
        width: 20%; /* เทียบกับ w-1/5 */
    }
    .sidebar-mobile {
        display: none;
    }
    .main-content {
        margin: 10px;
        margin-left: 20%;
        width: 80%;
    }
}

@media (max-width: 1024px) { /* สำหรับ iPad และหน้าจอขนาดเล็ก */
    .main-content {
        margin: 0; /* ไม่มี margin เพื่อให้ดูชิดกับขอบหน้าจอ */
        padding: 1rem; /* เพิ่ม padding เพื่อสร้างช่องว่างด้านใน */
        width: 100%;
    }
}

@media (max-width: 768px) { /* สำหรับโทรศัพท์มือถือ */
    .main-content {
        margin: 0; /* ไม่มี margin */
        padding: 1rem; /* เพิ่ม padding ให้พอดี */
        width: 100%; /* เต็มหน้าจอ */
    }
}
