/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal; */
  /* font-family: inherit; */
  /* font-family: 'Montserrat', sans-serif; */
  background: white;
  /* color: pink; */
}

.chat-header{
  font-size: 13px;
  font-weight: 400;
  
}

/* All users */
.all-users {
  display: flex;
  margin-bottom: 0.5rem;
}

.single-user {
  background: rgb(0, 213, 255);
  color: white;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 10px;
  margin-right: 0.5rem;
  position: relative;
}
/* 
.react-input-emoji--container{
  background: #ccc;
} */

.react-input-emoji--placeholder{
  color: #DADADA;
}

/* User Card */
.user-card {
  color: white;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 0 1px 1px  rgba(0, 0, 0, 0.1); */
  width: 30vw;
}

.user-card-noti{
  color: white;
  position: relative;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
  width: 100%;
 
}
.user-card-noti:hover,.user-card:hover{
  background: #f4f4f4;
}

.user-card .text-content {
  width: 10rem;
  font-size: 1rem;
  margin-left:0.5rem;
}
.user-card-noti .text-content {
  margin-left:0.3rem;
}
.user-card-noti .name{
  font-weight: 500;
  font-size: 0.75rem;
}
.user-card .name {
  font-weight: 500;
  font-size: 1rem;
}


.user-card-noti .text,.user-card .text{
  font-size: 1rem;
  color: rgb(180, 180, 180);
}


.user-card-noti .date {
  font-size: 0.65rem;
  color: rgb(180, 180, 180);
}

.user-card .date {
  font-size: 0.75rem;
  color: rgb(180, 180, 180);
}


.user-online {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 2;
}

/* Chat Box */
.chat-box {
  max-height: 100vh;
  overflow-y: auto;
  background: #f3f3f3;
  border-radius: 10px;
  border: 1px solid #DADADA  ;
}

.messages-box1 {
  height: 80vh;
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  color: black;
  background: #fff;
  border-bottom: 1px solid #DADADA  ;
}

/* Messages */
.messages {
  max-height: calc(100vh - 12.5rem);
  overflow-y: auto;
  padding: 0 2rem;
}

.message {
  
  color: black;
  /* background:#fff; */
  padding: 0.75rem;
  border-radius: 25px;
  max-width: 45%;
  /* width: 100%; */
  border-radius: 5px 20px 20px 20px;
  border-bottom: 2px solid #DADADA;
  boxShadow: 0 10px 5px rgba(0, 0, 0, 0.75);
  /* box-sizing: border-box; /* เพื่อให้รวม border และ padding ในการคำนวณขนาด */
  /* white-space: normal; เพื่อให้ข้อความพับบรรทัดเมื่อยาวเกิน */}

.message.self {
  color: white;
   background:rgba(189, 76, 238, 0.76) ; 
  border-radius: 20px 5px 20px 20px; 

}
.message.you {
  color: #000;
   background:rgb(255, 255, 255) ; 
  border-radius: 5px 20px 20px 20px; 

}

.textmessage {
  padding:10px 15px;
  font-weight: 400;
  /* display:flex; */
  
  word-wrap: break-word; /* เพิ่มบรรทัดนี้ */
  /* margin-bottom:px; */
  /* border-radius: 20px 5px 20px 20px; */
}

span.messageRead{
  color:#000;
  font-weight: 300; 
  font-size: 10px;
  font-style: italic; /* ตัวเอียง */
  /* font-weight: 10; */
}
/* 
.me-2 img{
  margin-right:1rem;
} */
.message-footer {
  font-size: 12px;
  align-self: flex-end;
  font-weight: 400;
}

/* Chat Input  */
.chat-input {
  width: 100%;
  background: white;
  padding: 0 1rem 1rem 1rem;
}
.send-btn {
  border: none;
  background: #fff;
  color: #000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.react-input-emoji--button svg {
  height: 28px;
  width: 28px;
  margin-left: 5px;
  fill: #232323;
}

/* Notification */
.notifications {
  position: relative;
}

/* .notifications-icon {
  color: white;
  cursor: pointer;
  position: relative;
  margin-right: 1rem;
} */
 
/* Hide ChatBox on mobile and only show UserChat */


/* Display ChatBox when UserChat is clicked */
/* @media (min-width: 768px) {
  .messages-box + .chat-box {
      display: block;
  }
} */



.notifications-box {
  height: 400px;
  width: 300px;
  position: absolute;
  top: 3rem;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px  rgba(0, 0, 0, 0.2);
  background:rgb(255, 255, 255);
  color: white;
  z-index: 10;
  overflow: hidden; 
  overflow-y: auto;
  /* overflow-x: scroll; ใช้การเลื่อนในแนวนอน */
}
@media (max-width: 767px) {
  .notifications-box{height: 250px;
  width: 250px;
  max-width: 100vw; /* Ensure it fits smaller screens */
  }
}

.notifications-header {
  padding: 0.5rem;
  padding-bottom: 0;
  /* display: flex; */
  justify-content: space-between;
}

.notifications-box h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.mark-as-read {
  cursor: pointer;
  font-weight: 700;
  opacity: 0.8;
}

/* .notification {
  font-size: 14px;
  margin: 1rem 0;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem 1rem;
} */

.notification.not-read {
  background: #263159;
}

.notification-time {
  margin-top: 0.2rem;
  font-size: 0.5rem;
  color: #e0e0e0;
}

.this-notifications {
  display: flex;
  background: #EF0000;
  color:#fff;
  height: 25px;
  width: 25px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -15px;
}

.this-user-notifications {
  display: flex;
  background: #00bd9b;
  height: 16px;
  width: 16px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}